[user]
name = Tiberiu Ichim
email = tiberiu.ichim@gmail.com

[http]
	sslVerify = false

[credential]
	helper = /usr/share/git/credential/gnome-keyring/git-credential-gnome-keyring

# compatibility with https://github.com/samoshkin/vim-mergetool
[merge]
  conflictStyle = diff3

# [merge]
#     tool = vimdiff
# [mergetool]
#     prompt = true
# [mergetool "vimdiff"]
#     cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
# [difftool]
#     prompt = false
# [diff]
#     tool = vimdiff

[core]
	excludes = /home/tibi/.gitignore_global
	excludesfile = /home/tibi/.gitignore

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

# [includeIf "gitdir:work/"]
#   path = .gitconfig-tibi
[pull]
	ff = only
[init]
	defaultBranch = main
[push]
	autoSetupRemote = true
